<!-- About Section -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">About</h2>
                <h3 class="section-subheading text-muted"></h3>
            </div>
            <!-- <p>
            <b>Important update!</b> TestEd is postponed to October 28 due to the current outbreak of COVID-19 and the travel restrictions that
            follows. TestEd is co-located with ICST so please read their <a href="https://t.co/1SVFY61iFE"> statement to the ICST community</a> and their list of <a href="https://icst2020.info/attending/icst-has-been-postponed%2521">frequently 
            asked questions</a> for more information.
            </p> -->
        </div>
        <div class="row">
            <h2 class="first">About ICAA 2023</h2>            
            
            <p>
                The 2023 IEEE Conference on Assured Autonomy (ICAA) will take place from 6/6/2023 - 6/8/2023 at the Johns Hopkins University Applied Physics Laboratory, Maryland, USA  .

                ICAA seeks contributions on all aspects of AI safety, security, and privacy in autonomous systems. Papers that encourage the discussion and exchange of experimental and theoretical results, novel designs, and works in progress are preferred. Topics of interest include (but are not limited to) AI Safety, and Security and Privacy.
            </p>
        </div>
    </div>
</section>

<section id="cfc" class="bg-light-gray">
    
<!--background color-->
<script type="text/javascript">
   document.write ('<body style="background: Gainsboro; background-attachment: fixed;">')
</script>

<div class="container">
    <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Call for Papers</h2>
                <h3 class="section-subheading text-muted"></h3>
            </div>
        </div>
    <div class="row">
        <p>
            The IEEE International Conference on Assured Autonomy (ICAA) plans to address the gap that exists between theory-heavy autonomous systems and algorithms and the privacy, security, and safety of their real-world implementations. Advances in machine learning and artificial intelligence have shown great promise in automating complex decision-making processes across transportation, critical infrastructure, and cyber infrastructure domains. Practical implementations of these algorithms require significant systems engineering and integration support, especially as they integrate with the physical world. This integration is wrought with artificial intelligence (AI) safety, security, and privacy issues.

            The primary focus of this conference is the: (1) detection of, (2) response to, and (3) recovery from AI safety, security, and privacy violations in autonomous systems. Key technical challenges include discriminating between application-layer data breaches and benign process noises, responding to breaches and failures in real-time systems, and recovering from decision making failures autonomously.
            
            </p>
            <h2> Topics and types of contributions </h2>
            <p>
                ICAA seeks contributions on all aspects of AI safety, security, and privacy in autonomous systems. Papers that encourage the discussion and exchange of experimental and theoretical results, novel designs, and works in progress are preferred. Topics of interest include (but are not limited to):
                <p><strong>Autonomous System and AI Safety</strong></p>
    
    <ul>
        <li>
        <p>Detecting dataset anomalies that lead to unsafe AI decisions</p>
        </li>
        <li>
        <p>Evaluating safety of autonomous systems according to their potential risks and vulnerabilities</p>
        </li>
        <li>
        <p>Resilient, explainable deep learning, and interpretable machine learning</p>
        </li>
        <li>
        <p>Verification, testing and acceptance of machine learning models and autonomous systems</p>
        </li>
    </ul>
    
    <ul>
        <li>
        <p>Autonomic computing for autonomous system safety</p>
        </li>
        <li>
        <p>Standards, ethics, and policies for autonomy and AI safety</p>
        </li>
        <li>
        <p>Safety and assurance of human-autonomy teaming</p>
        </li>
    </ul>
    
    <p><strong>Security and Privacy of Autonomous Systems and AI</strong></p>
    
    <ul>
        <li>
        <p>Detecting dataset anomalies that lead to autonomous system security and privacy violations</p>
        </li>
        <li>
        <p>Differential privacy and privacy-preserving learning and generative models</p>
        </li>
        <li>
        <p>Adversarial attacks (e.g. Trojans) on AI and autonomy, and defenses against adversarial attacks</p>
        </li>
        <li>
        <p>Improving resiliency of AI and autonomous system methods and algorithms to various forms of attacks</p>
        </li>
        <li>
        <p>Engineering trusted autonomous system and AI software architectures</p>
        </li>
    </ul>
    
    
             </p>
             <h2> Paper Format </h2>
                <ul>
                    <li> Full papers (10 pages) </li>
                    <li> Work-in-progress papers (4 pages) </li>
                </ul>
                <h2> Important dates </h2>
                <ul>
                    <li> Submission deadline: <del>February 13, 2023</del> <strong>March 6, 2023</strong> (Anywhere on Earth)</li>
                    <li> Acceptance Notification: <del>March 13, 2023</del><strong> April 12, 2023</strong> </li>
                    <li> Camera-ready Papers Due: April 24, 2023  </li>
                    <li>Conference: June 6-8, 2023, Johns Hopkins University Applied Physics Laboratory</li>
                </ul>

                <h2> Registration Dates</h2>
                <ul>
                    <li> Early Registration Start: <del>March 13, 2023</del> <strong>April 24, 2023</strong> </li>
                    <li> Author Registration End Date: <strong>May 15, 2023</strong></li> 
                    <li> Early Registration End: <del> April 30, 2023 </del> <strong>May 15, 2023</strong> </li>
                    <li> Late Registration End: June 8, 2023 </li>
                </ul>

                <h2> Supported By</h2>
                <ul>
                    <li> IEEE SMC </li>
                    <li> <a href="https://iaa.jhu.edu">Johns Hopkins University Institute for Assured Autonomy </a>  </li>
                </ul>   

                <h2> Camera Ready Submission</h2>
                <p>
                All accepted papers need to be uploaded to the IEEE submission site.

                Below is the link to the 2023 IEEE International Conference on Assured Autonomy (ICAA) (ICAA 2023) Author Submission Site.

                <a href= "https://ieeecps.org/#!/auth/login?ak=1&pid=1yXaVmlecl3fJUuicuIka7">Camera Ready Submission Site</a>
                </p>    
                

                <h2> Submission Guidelines</h2>
                <p>
                    You are invited to submit regular papers of up to ten pages, or four pages for works-in-progress, including references. To be considered, papers must be received by the submission deadline. Submissions must be original work and may not be under submission to another venue at the time of review. Please mark all of your conflicts of interest when submitting your paper. Papers should be in IEEE conference format. Templates can be found at <a href="https://www.ieee.org/conferences/publishing/templates.html">https://www.ieee.org/conferences/publishing/templates.html</a>.
                </p>   
                <h2> Presentation Form</h2>
                <p>
                    All accepted submissions will be presented at the conference and included in the IEEE conference proceedings. Due to time constraints, accepted papers will be selected for presentation as either talk or poster based on their review score and novelty. Nonetheless, all accepted papers should be considered as having equal importance.

                    One author of each accepted paper is required to attend the conference and present the paper for it to be included in the proceedings.
                </p> 
                
                <h2> Submission Website </h2>
                All presented papers will be published in the conference proceedings and submitted to the IEEE Xplore Digital Library.
                <p>
                Please see EDAS Submission Site: <a href="https://edas.info/N30641">https://edas.info/N30641</a>  
                </p>
                <!-- <h2> SubmiSpecial issue on Software Testing Educationssion </h2>
                <p>
                  Well received contributions will be invited to a special issue on test education in the journal of Software Testing, 
                    Verification, and Reliability.   
                </p> -->

                <h2> Contact Us </h2>
                <strong>ieeee.icaa at gmail dot com</strong>

    </div>
    </div>
</section>
