<!-- <section id="cfc">

    <!--background color-->
    <script type="text/javascript">
        document.write ('<body style="background: Gainsboro; background-attachment: fixed;">')
    </script>

    <div class="event black-frame">
      <h1 class="title">{{ page.title }}</h1>
       <p>
       TCAA seeks contributions on all aspects of AI safety, security, and privacy in autonomous systems. Papers that encourage the discussion and exchange of experimental and theoretical results, novel designs, and works in progress are preferred.
         </p>
         <h2> Topics and types of contributions <\h2>
         <p>
            Topics includ&mdash;but are not limited to&mdash;
            
<h1>Autonomous System and AI Safety</h1>

Detecting dataset anomalies that lead to unsafe AI decisions
Evaluating safety of autonomous systems according to their potential risks and vulnerabilities
Resilient, explainable deep learning, and interpretable machine learning
Verification, testing and acceptance of machine learning models and autonomous systems
Autonomic computing for autonomous system safety
Standards, ethics, and policies for autonomy and AI safety
Ethics of autonomous system behaviors, algorithms and implementations
Safety and assurance of human-autonomy teaming

<h1>Security and Privacy of Autonomous Systems and AI</h1>

Detecting dataset anomalies that lead to autonomous system security and privacy violations
Differential privacy and privacy-preserving learning and generative models
Adversarial attacks on AI and autonomy, and defenses against adversarial attacks
Improving resiliency of AI and autonomous system methods and algorithms to various forms of attacks
Engineering trusted autonomous system and AI software architectures

          </p>
          <ul>
              <li> Full papers (6-8 pages) </li>
              <li> Short papers (2-4 pages) </li>
              <li> Mini-talk proposals (1 page) </li>
              <li> Demonstration activity proposal (1 page) </li>
              <li> Panels and group discussion proposals (1 page) </li>
              <li> Other activity proposals (1 page) </li>
          </ul>
          <h2> Important dates </h2>
          <ul>
              <li> Submission deadline: January 4 </li>
              <li> Notification of acceptance: January 27 </li>
              <li> Camera ready: January 4 </li>
          </ul>
          <h2> Submission Guidelines</h2>
          <p>
            You are invited to submit regular papers of up to ten pages, or four pages for works-in-progress, including references. To be considered, papers must be received by the submission deadline. Submissions must be original work and may not be under submission to another venue at the time of review. Please mark all of your conflicts of interest when submitting your paper. Papers should be in IEEE conference format. Templates can be found at https://www.ieee.org/conferences/publishing/templates.html.
            <h2> Presentation Form </h2>
            All accepted submissions will be presented at the conference and included in the IEEE conference proceedings. Due to time constraints, accepted papers will be selected for presentation as either talk or poster based on their review score and novelty. Nonetheless, all accepted papers should be considered as having equal importance.
            One author of each accepted paper is required to attend the conference and present the paper for it to be included in the proceedings.
            
          </p>   
          <h2> Special issue on software testing education </h2>
          <p>
            Well received contributions will be invited to a special issue on test education in the journal of Software Testing, 
              Verification, and Reliability.   
          </p>

    </div>
</section> -->
