<section id="cfc">

    <!--background color-->
    <script type="text/javascript">
        document.write ('<body style="background: Gainsboro; background-attachment: fixed;">')
    </script>

    <div class="event black-frame">
      <h1 class="title">{{ page.title }}</h1>
       <p>
       TestEd 2020 focus on knowledge diffusion of software testing - how to teach it. The research community has created enormous 
           amounts of knowledge for how to test software, yet many professional software engineers have little of this knowledge. 
           This is despite the fact that testing is crucial to the success of all types of modern software products. We will 
           specifically focus on two goals. First, how can we teach more testing within computing degrees? Second, how can we better 
           teach the knowledge and skills of software testing? This workshop will give an opportunity for those who teach testing to 
           share their ideas, and for us all to learn more about teaching software testing.    
         </p>
         <h2> Topics and types of contributions <\h2>
         <p>
            Topics includ&mdash;but are not limited to&mdash;teaching materials, active classrooms, theory vs. practice, how to solve classroom 
            problem x, how to teach specific skills (test design, test automation etc.), how to teach students to think like a tester 
            (professional ethics). Shared experiences could come from courses at any level in academia or industry. It could also come 
            from teaching a dedicated course in software testing or a software engineering course where testing is a small part. 
            
            Our goal is to have a minimum of “talk at” and a maximum of “sharing with.” Hence, we are looking for multiple types of contributions, 
            including giving a traditional paper-based presentation, giving a mini-talk about specific strategies and tactics, or giving 
            a demonstration of classroom activities. We also welcome you to organize an activity such as a group discussion about tricks 
            of the trade or an audience-focused panel to answer questions about teaching software testing. We accept:
          </p>
          <ul>
              <li> Full papers (6-8 pages) </li>
              <li> Short papers (2-4 pages) </li>
              <li> Mini-talk proposals (1 page) </li>
              <li> Demonstration activity proposal (1 page) </li>
              <li> Panels and group discussion proposals (1 page) </li>
              <li> Other activity proposals (1 page) </li>
          </ul>
          <h2> Important dates </h2>
          <ul>
              <li> Submission deadline: January 4 </li>
              <li> Notification of acceptance: January 27 </li>
              <li> Camera ready: January 4 </li>
          </ul>
          <h2> Submission </h2>
          <p>
              Full and short papers must conform to the two columns IEEE conference publication format and must be submitted in PDF 
              format via EasyChair. These submissions will be evaluated according to the relevance and originality of the work and 
              to their ability to generate discussions between the participants of the workshop. Three reviewers will review each 
              paper and all the accepted papers will be published as part of the ICST proceedings.

              Proposals for mini-talks, demonstrations, discussions or other need not to conform to the publication format but 
              should be limited to one page, 10p and submitted in PDF format via EasyChair. These submissions will be evaluated 
              according to several criteria, including novelty, potential for participants to learn and maturity of the planned 
              session. Three reviewers will evaluate each proposal. 

              All materials for accepted contributions, including slides, summaries, and lesson plans will be published on a public 
              website.
          </p>   
          <h2> Special issue on software testing education </h2>
          <p>
            Well received contributions will be invited to a special issue on test education in the journal of Software Testing, 
              Verification, and Reliability.   
          </p>

    </div>
</section>
