<section id="registration">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Registration</h2>
                <h3 class="section-subheading text-muted"> Registration is Now Open: <a href="https://cvent.me/x3QbrR">Click here to Register!</a></h3>
                <h3>Early Registration Deadline: May 15, 2023</h3> 
                <h3>Author Registration Deadline: May 15, 2023</h3> 


                <style type="text/css">
                    .tg  {border-collapse:collapse;border-spacing:0;}
                    .tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
                      overflow:hidden;padding:10px 5px;word-break:normal;}
                    .tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
                      font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
                    .tg .tg-1wig{font-weight:bold;text-align:left;vertical-align:top}
                    .tg .tg-7vkn{color:#212121;font-weight:bold;text-align:left;vertical-align:top}
                    .tg .tg-0lax{text-align:left;vertical-align:top}
                    .tg .tg-47nm{color:#212121;font-weight:bold;text-align:right;vertical-align:top}
                    .tg .tg-ciu7{color:#333333;font-weight:bold;text-align:right;vertical-align:top}
                    </style>
                    <table class="tg">
                    <thead>
                      <tr>
                        <th class="tg-0lax"><span style="font-weight:bold">CATEGORY</span></th>
                        <th class="tg-1wig">EARLY FEE</th>
                        <th class="tg-1wig">REGULAR FEE</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="tg-7vkn"><span style="color:#212121">Authors (IEEE Member)</span></td>
                        <td class="tg-47nm"><span style="color:#212121">700</span></td>
                        <td class="tg-47nm"><span style="color:#212121">800</span></td>
                      </tr>
                      <tr>
                        <td class="tg-7vkn"><span style="color:#212121">Authors (Non IEEE Member)</span></td>
                        <td class="tg-ciu7">840</td>
                        <td class="tg-ciu7">960</td>
                      </tr>
                      <tr>
                        <td class="tg-7vkn"><span style="color:#212121">Participant IEEE Member</span></td>
                        <td class="tg-ciu7">200</td>
                        <td class="tg-ciu7">300</td>
                      </tr>
                      <tr>
                        <td class="tg-7vkn"><span style="color:#212121">Participant: Non Member</span></td>
                        <td class="tg-ciu7">240</td>
                        <td class="tg-ciu7">360</td>
                      </tr>
                      <tr>
                        <td class="tg-7vkn"><span style="color:#212121">Student - IEEE</span></td>
                        <td class="tg-ciu7">150</td>
                        <td class="tg-ciu7">250</td>
                      </tr>
                      <tr>
                        <td class="tg-7vkn"><span style="color:#212121">Student - Non IEEE</span></td>
                        <td class="tg-ciu7">180</td>
                        <td class="tg-ciu7">300</td>
                      </tr>
                      <tr>
                        <td class="tg-7vkn"><span style="color:#212121">Virtual non-authors</span></td>
                        <td class="tg-ciu7">100</td>
                        <td class="tg-ciu7">200</td>
                      </tr>
                    </tbody>
                    </table>

                <!-- <h3 class="section-subheading text-muted"> Please use the general <a href="https://icst2020.info/attending/registration" target="_blank">ICST'20</a> registration site.</a></h3> -->
            </div>
        </div>
</div>
</section>

<section id="travel">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-left">
                <h2 class="section-heading">Lodging</h2>
                <p>Following are near by hotels around the conference venue.</p>
                <p><a href="http://homewoodsuites3.hilton.com/en/hotels/maryland/homewood-suites-by-hilton-columbia-laurel-BALCMHW/index.html">Homewood Suites Columbia/Laurel</a>: <br /><em>Distance from APL: 0.7 mile</em><br />240-360-2725<br />7531 Montpelier Road<br />Laurel, MD 20723</p>
                <p><a href="https://www.marriott.com/en-us/hotels/bwirf-residence-inn-fulton-at-maple-lawn/overview/">Residence Inn by Marriott Fulton at Maple Lawn:</a>: <br /><em>Distance from APL: 1.8 miles</em><br />301-776-7460<br />11800 W Market Pl<br />Fulton, MD 20759</p>
                <p><a href="http://homewoodsuites3.hilton.com/en/hotels/maryland/homewood-suites-by-hilton-columbia-BALCLHW/index.html">Homewood Suites Columbia</a>: <br /><em>Distance from APL: 6.0 miles</em><br />443-896-5073<br />8320 Benson Drive<br />Columbia, MD 21045</p>
                <p><a href="https://www.sonesta.com/us/maryland/columbia/sonesta-select-columbia">Sonesta Select Columbia</a>:<br /><em>Distance from APL: 6.5 miles</em><br />800-321-2211 or 410-290-0002<br />8910 Stanford Boulevard<br />Columbia, MD 21045</p>
                <p><a href="http://doubletree3.hilton.com/en/hotels/maryland/doubletree-by-hilton-hotel-columbia-BWICHDT/index.html">DoubleTree by Hilton Columbia</a>:<br /><em>Distance from APL: 6.5 miles</em><br />800-445-8667 or 410-997-1060<br />5485 Twin Knolls Road<br />Columbia, MD 21045</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>

                <!-- <h3 class="section-subheading text-muted"> Please use the general <a href="https://icst2020.info/attending/registration" target="_blank">ICST'20</a> registration site.</a></h3> -->
            </div>
        </div>
</div>
</section>




