<!-- Portfolio Grid Section -->
<section id="speakers" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Speakers</h2>
                <h3 class="section-subheading text-muted"></h3>
            </div>
        </div>
        <div class="row">
        {% for post in site.data.twenty_20.speakers %}
            <div class="col-md-4 col-sm-6 speakers-item">
                <a href="#{{ post.name }}" class="speakers-link" data-toggle="modal">
                    <div class="speakers-hover">
                        <div class="speakers-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="/icaa2023/css/2020_style/img/speaker/{{ post.thumbnail }}" class="img-responsive img-centered" alt="">
                </a>
                <div class="speakers-caption">
                    <h4>{{ post.title }}</h4>
                    <p class="text-muted">{{ post.subtitle }}</p>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
</section>


    <section id="organization">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Organization</h2>
                    <!--<h3 class="section-subheading text-muted"></h3>-->
                </div>
            </div>

            <!--background color-->
              <script type="text/javascript">
                  document.write ('<body style="background: Gainsboro; background-attachment: fixed;">')
              </script>

              <!-- team1: this section wraps the team members as a container-->
                <section class="cf team-container team-container-top black-frame">
                    <div class="col-lg-12 text-center">
                        {% for team in site.data.twenty_20.teams_1 %}
                        <div class="col-md-4 col-sm-6 speakers-item">
                          <img class="team-photo" src="/icaa2023/css/2020_style/img/team/{{ team.img }}">
                          <!-- https://s.gravatar.com/avatar/0000000000000000?s=160 for Gravatar-->
                          <h3>{{ team.name }}</h3>
                          <p> 
                            <span>{{ team.position }}</span> <br>
                            <span> {{ team.affiliation }}</span> <br>
                            <a class="url" href="{{ team.url }}"><span >Home page</span></a>
                            </p>
                        </div> 
                        {% endfor %}
                    </div>
                </section>
            </div>
        
            <div class="container">
            <!-- team2: this section wraps the team members as a container-->
                <section class="cf team-container team-container-top black-frame">
                    <div class="col-lg-12 text-center">
                        {% for team in site.data.twenty_20.teams_2 %}
                        <div class="col-md-4 col-sm-6 speakers-item">
                          <img class="team-photo" src="/icaa2023/css/2020_style/img/team/{{ team.img }}">
                          <!-- https://s.gravatar.com/avatar/0000000000000000?s=160 for Gravatar-->
                          <h3>{{ team.name }}</h3>
                          <p> 
                            <span>{{ team.position }}</span> <br>
                            <span> {{ team.affiliation }}</span> <br>
                            <a class="url" href="{{ team.url }}"><span >Home page</span></a>
                            </p>
                        </div> 
                        {% endfor %}
                    </div>
                </section>
            </div>
        
            <div class="container">
                <div class="col-lg-12">
                    <h2>
                        Technical program committee 
                    </h2>
                    <ul>
                       
                        <li><b>Saurabh Bagchi</b>, Purdue University</li>     
                        <li><b>Yinzhi Cao</b>, Johns Hopkins University</li>     
                        <li><b>Anupam Chattopadhyay</b>, Nanyang Technological University </li>     
                        <li><b>Xenofon Koutsoukos</b>, Vanderbilt University</li>     
                        <li><b>Jose Morales</b>, Carnegie Mellon University</li>     
                        <li><b>Aurora Schmidt</b>, Johns Hopkins University Applied Physics Laboratory</li>     
                        <li><b>Amit Kumar Sikder</b>, Georgia Institute of Technology</li>     
                        <li><b>Houbing Song</b>, University of Maryland, Baltimore County</li>     
                        <li><b>Roy Sterritt</b>, University of Ulster</li>     
                        <li><b>Jeremy Straub</b>, North Dakota State University</li>     
                        <li><b>Ali Tekeoglu</b>, Johns Hopkins University Applied Physics Laboratory</li>     
                       
                        <!-- <li> <b> <a href="https://www.cse.unt.edu/~reneebryce/Renee_Bryce/Home.html" target="_blank">Renee Bryce</a></b>, University of North Texas, USA</li>
                        <li> <b> <a href="http://carver.cs.ua.edu/" target="_blank">Jeffrey Carver</a></b>, University of Alabama, USA </li>
                        <li> <b> <a href="http://wp.towson.edu/ldeng/" target="_blank">Lin Deng</a></b>, Towson University, USA </li>
                        <li> <b> <a href="http://www.cse.unt.edu/~hdo/" target="_blank">Hyunsook Do</a></b>, University of North Texas, USA </li>
                        <li> <b> <a href="http://mfelderer.at/" target="_blank">Michael Felderer</a></b>, University of Innsbruck, Austria</li>
                        <li> <b> <a href="http://www.robertfeldt.net/" target="_blank">Robert Feldt</a></b>, Chalmers University, Sweden</li>
                        <li> <b> <a href="http://lapes.dc.ufscar.br/members/faculties/fabiano-ferrari" target="_blank">Fabiano Ferrari</a></b>, Universidade Federal de São Carlos, Brazil </li>
                        <li> <b> <a href="https://www.fim.uni-passau.de/lehrstuhl-fuer-software-engineering-ii/" target="_blank">Gordon Fraser</a></b>, University of Passau, Germany</li>
                        <li> <b> <a href="https://sites.hevra.haifa.ac.il/hartman/" target="_blank">Alan Hartman</a></b>, University of Haifa, Israel</li>
                        <li> <b> <a href="http://swtv.kaist.ac.kr/~moonzoo" target="_blank">Moonzoo Kim</a></b>, Korea Advanced Institute of Science and Technology, Republic of Korea</li>
                        <li> <b> <a href="http://ranger.uta.edu/~ylei/" target="_blank">Jeff Y. Lei</a></b>, University of Texas at Arlington, USA</li>
                        <li> <b> <a href="http://antares.sip.ucm.es/mercedes/" target="_blank">Mercedes Merayo</a></b>, Universidad Complutense de Madrid, Spain</li>
                        <li> <b> <a href="http://antares.sip.ucm.es/~manolo/" target="_blank">Manuel Nuñes</a></b>, Universidad Complutense de Madrid, Spain</li>
                        <li> <b> <a href="https://www.inf.usi.ch/faculty/pezze/" target="_blank">Mauro Pezze</a></b>, Università della Svizzera italiana, Switzerland</li>
                        <li> <b> <a href="https://www.eecis.udel.edu/~pollock/" target="_blank">Lori L. Pollock</a></b>, University of Delaware, USA</li>
                        <li> <b> <a href="https://engineering.virginia.edu/faculty/upsorn-praphamontripong" target="_blank">Upsorn Praphamontripong</a></b>, University of Virginia, USA </li>
                        <li> <b> <a href="https://www2.le.ac.uk/departments/informatics/people/jrojas" target="_blank">José Miguel Rojas</a></b>, University of Leicester, UK</li>
                        <li> <b> <a href="https://userpages.umbc.edu/~sampath/" target="_blank">Sreedevi Sampath</a></b>, University of Maryland Baltimore County, USA </li>
                        <li> <b> <a href="http://www.es.mdh.se/staff/173-Cristina_Seceleanu" target="_blank">Cristina Seceleanu</a></b>, M&aumllardalen University, Sweden</li>
                        <li> <b> <a href="https://s2.smu.edu/~tian/" target="_blank">Jeff Tian</a></b>, Southern Methodist University, USA</li>
                        <li> <b> <a href="https://tanjavos.com/" target="_blank">Tanja Vos</a></b>, Open University, Netherlands</li>
                        <li> <b> <a href="http://ix.cs.uoregon.edu/~michal/" target="_blank">Michal Young</a></b>, University of Oregon, USA</li> -->
                    </ul>
                </div>
            </div>
    </section>

    <section id="previous">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Previous Editions</h2>
                    <!--<h3 class="section-subheading text-muted"></h3>-->
                </div>
            </div>

            <!--background color-->
              <script type="text/javascript">
                  document.write ('<body style="background: Gainsboro; background-attachment: fixed;">')
              </script>
            <div class="container">
                <div class="col-lg-12">
                    <!-- <h2>
                        Technical program committee 
                    </h2> -->
                    <ul>
                       
                        <li><b>2022 IEEE International Conference on Assured Autonomy (ICAA)</b>,   <a href="https://iaa.jhu.edu/icaa/" target="_blank">John Hopkins University</a></li>     
               
                   </ul>
                </div>
            </div>
    </section>