<!-- Portfolio Grid Section -->
    <section id="organization">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Organization</h2>
                    <!--<h3 class="section-subheading text-muted"></h3>-->
                </div>
            </div>

            <!--background color-->
              <script type="text/javascript">
                  document.write ('<body style="background: Gainsboro; background-attachment: fixed;">')
              </script>

              <!-- this section wraps the team members as a container-->
                <section class="cf team-container team-container-top black-frame">

                    <div class="col-lg-12 text-center">
                        {% for team in site.data.twenty_20.teams_1 %}
                        <div class="col-md-4 col-sm-6 speakers-item">
                          <img class="team-photo" src="../css/2020_style/img/team/{{ team.img }}">
                          <!-- https://s.gravatar.com/avatar/0000000000000000?s=160 for Gravatar-->
                          <h3>{{ team.name }}</h3>
                          <p> 
                            <span>{{ team.position }}</span> <br>
                            <span> {{ team.affiliation }}</span> <br>
                            <a class="url" href="{{ team.url }}"><span >Home page</span></a>
                            </p>
                        </div> 
                        {% endfor %}
                    </div>
                </section>
            </div>
            <div class="container">
                <div class="col-lg-12">
                <h3>
                    Andr&aacutes M&aacuterki
                </h3>
                <p>
                    Webmaster <br>
                    University of Sk&oumlvde, Sweden 
                </p>    
                </div>
            </div>
            <div class="container">
                <div class="col-lg-12">
                    <h2>
                        Technical Program Committee
                    </h2>
                    <ul>
                        <li><b> <a href="http://carver.cs.ua.edu/" target="_blank">Jeffrey Carver</a></b>, University of Alabama, USA </li>
                        <li> <b> Marcio Delamaro</b>, University of Sao Paolo, Brazil </li>
                        <li> <b> Lin Deng</b>, Towson University, USA </li>
                        <li> <b> Hyunsook Do</b>, University of North Texas, USA </li>
                        <li> <b> Michael Felderer</b>, University of Innsbruck, Austria</li>
                        <li> <b> Robert Feldt</b>, Chalmers University, Sweden</li>
                        <li> <b> Fabiano Ferrari</b>, Universidade Federal de São Carlos, Brazil </li>
                        <li> <b> Upsorn Praphamontripong</b>, University of Virginia, USA </li>
                        <li> <b> Sreedevi Sampath</b>, University of Maryland Baltimore County, USA </li>
                        <li> <b> Cristina Seceleanu</b>, M&aumllardalen University, Sweden</li>
                        <li> <b> More members pending ... </b> </li>
                    </ul>
                </div>
            </div>
    </section>
