<!-- Clients Aside -->
    <!--<aside class="clients" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Sponsors</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <a href="#" class="portfolio-link" data-toggle="modal">
                        <img src="../css/2020_style/img/logos/TBD.jpg" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-4 col-sm-6">
                    <a href="#" class="portfolio-link" data-toggle="modal">
                        <img src="../css/2020_style/img/logos/TBD.jpg" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-4 col-sm-6">
                    <a href="#" class="portfolio-link" data-toggle="modal">
                        <img src="../css/2020_style/img/logos/TBD.jpg" class="img-responsive img-centered" alt="">
                    </a>
                </div>
            </div>
        </div>
    </aside>-->
<!-- 
<section id="program" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Program</h2>
                </div>
                <div class="col-lg-12">
                    <h3 class="section-subheading text-muted"></h3>
                    <h2>
                        Accepted papers:
                    </h2>
                    <ul>
                        <li>Andrea Arcuri: <i>Teaching Software Testing in an Algorithms and Data Structures Course</i></li>
                        <li>Thomas Auer and Michael Felderer: <i>Towards a Learning Environment for Internet of Things Testing with LEGO® MINDSTORMS®</i></li>
                        <li>Sarah Heckman, Jessica Young Schmidt, and Jason King: <i>Integrating Testing Throughout the CS Curriculum</i></li>
                        <li>Frederic Dadeau, Jean-Philippe Gros, and Fabien Peureux: <i>A Case-based Approach for introducing Testing Tools and Principles</i></li>
                        <li>Wishnu Prasetya, Craig Leek, Roan Oosenbrug, Petar Kostic and Mike de Vries: <i>Can Learning Formal Specification Be Fun? &mdash; Experience and Perspective</i></li>
                        <li>Leen Lambers: <i>How to Teach Software Testing: Experiences with a Sandwich Approach</i></li>
                        <li>Upsorn Praphamontripong, Mark Floryan, and Ryan Ritzo: <i>A Preliminary Report on Hands-On and Cross-Course Activities in a College Software Testing Course</i></li>
                        <li>Rowland Pitts: <i>Incorporating Testing Topics in an Object-Oriented Programming Course</i></li>
                        <li>Paul Ammann and Kesina Baral: <i>Teaching a Testing Concept (JUnit) with Active Learning</i></li>
                        <li>Lin Deng, Josh Dehlinger, and Suranjan Chakraborty: <i>Teaching Software Testing with Free and Open Source Software</i></li>
                        <li>Gordon Fraser, Alessio Gambi and, José Miguel Rojas: <i>Teaching Software Testing with the Code Defenders Testing Game: Experiences and Improvements</i></li>
                    </ul>
                </div>
            </div>            
        </div>
    </section> -->
