<!DOCTYPE html>
<html>

  {% include 2020_data/head.html %}


    <body id="page-top" class="index">

    {% include 2020_data/header-home.html %}

    <!-- Header -->
    <header>
        <div class="container">
            <!-- <div class="intro-text">
                <div class="intro-heading">ICAA 2023<br></div>
                <div class="intro-lead-in">The 2nd International Conference on Assured Autonomy</div>
                <div class="intro-lead-in">The Johns Hopkins University
                    Applied Physics Laboratory, Maryland, USA </div>
                    <div class="intro-lead-in">June 6-8, 2023 </div>
            </div> -->
        </div>
    </header>

    {% include 2020_data/intro.html %}
    {% include 2020_data/about.html %}
    {% include 2020_data/speakers.html %}
    {% include 2020_data/sponsors.html %}
    {% include 2020_data/contact.html %}
    {% include 2020_data/footer.html %}
    {% include 2020_data/speakers_info.html %}
    {% include 2020_data/js.html %}

    </body>
</html>
